PATH_add $HOME/go1.14/bin

export TEST_CASES="cancel_after_begin cancel_after_first_response client_streaming custom_metadata empty_stream empty_unary large_unary ping_pong server_streaming special_status_message status_code_and_message timeout_on_sleeping_server unimplemented_method unimplemented_service"
